.upper-div{
    height: 25%;
    width: 100%;
    padding: 0px 26px;
    background-position-y: bottom 32px;
    color: #cec8c6;
    display: flex;
    align-items: end;
    font-size: 40px;
    font-weight: bold;
}
#upper-div-id{
    box-shadow:rgba(82, 82, 82, 0.95) 0px -100px 60px -20px inset;
}
.upper-div h1{
    font-size: 50px;
}
.upper-div h2{
    font-size: 80px;
}

.lower-div{
    background-color: #2d2d2d;
    color: #cec8c6;
    padding: 20px 4px;
    font-size: 18px;
}

.lower-div ul{
    margin: 0px 44px;
    margin-bottom: 10px;
    padding: 8px 0px;
    background: rgba(0, 0, 0, 0.25);
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lower-div ul li{
    padding: 2px 10px;
}


.dash-side-container{
    width: 100%;
    overflow-x: hidden;
}
.upper-bar{
    margin: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .logo-logoImg{
    display: flex;
    align-items: center;
  }
  .logo-logoImg span{
    margin-left: 12px;
    font-size: 24px;
    font-weight: 500;
    letter-spacing: -0.1rem;
  }
  .topics-scroll{
    overflow-x: scroll;
    white-space: nowrap;
  }
  .topics-scroll li{
    display: inline-block;
    margin: 12px 18px 12px 0px;
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
  }
  .topics-scroll li:hover{
    color: green;
  }
  
  /* Dhome styling : */
  .dash-page{
    height: 100vh;
    width: 100vw;
    display: flex;
    background-color: #ffffff;
    color: #111111;
    overflow-x: hidden;
    position: relative;
  }
  .dash-main-div{
    padding: 24px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .search-main-div h1{
    font-size: 24px;
    font-weight: 400;
    margin: 12px 0px;
  }
  .search-field-div{
    display: flex;
    justify-content: center;
  }
  .topic-search{
    outline: none;
    width: 400px;
    padding: 8px 18px;
    border: 1px solid rgb(17, 17, 17, 0.4);
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
  }
  .search-btn{
    padding: 8px 18px;
    border: 1px solid rgb(17, 17, 17, 0.4);
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    background-color: green;
    color: #ffffff;
  }
